@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --light-color: #bba4a2;
  --light-hover-color: #d1bcbc;
  --dark-normal-color: #04020f;
  --dark-ak-color: #0f0105;
}

html {
  background: var(--dark-ak-color);
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: inherit; /* key idea */
}

.scroll-container::-webkit-scrollbar-thumb {
  background: var(--light-color);
  border-radius: 999px;
}

html::-webkit-scrollbar-thumb:hover {
  background: var(--light-hover-color);
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--light-color) transparent;
}