@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-color: #bba4a2;
  --light-hover-color: #d1bcbc;
  --dark-normal-color: #04020f;
  --dark-ak-color: #0f0105;
}
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--light-color);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-hover-color);
}

::-webkit-scrollbar-button {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--light-color) transparent;
}

:hover::-webkit-scrollbar {
  width: 8px;
}